@page "/buscar-os"
@using Microsoft.AspNetCore.Authorization
@using TVS_App.Application.DTOs
@layout MainLayout
@attribute [Authorize] 

<div class="flex flex-col lg:flex-row justify-center min-h-[95vh] bg-cinza">
    <div class="flex w-full lg:max-w-[50%] p-3">
        <div class="flex flex-wrap w-full gap-4">
            <!-- Coluna 1 -->
            <div class="flex w-full lg:w-[48%] lg:mb-8">
                <div class="flex flex-col w-full p-5 items-start gap-3">
                    <!-- Filtro por número da ordem -->
                    <MudPaper Class="w-full mb-5 rounded-lg shadow-lg">
                        <div class="w-full p-5">
                            <h1 class="font-playpen mb-3 font-bold text-xl text-[#750303]">Filtrar Por OS</h1>
                            <MudTextField
                                @bind-Value="_numberFilter"
                                Loading="@_isLoading"
                                ResetValueOnEmptyText="true"
                                AdornmentIcon="@Icons.Material.Filled.Person2"
                                IconSize="Size.Large"
                                AdornmentColor="Color.Primary"
                                Variant="Variant.Outlined"
                                Placeholder="Digite o número da ordem"
                                Class="max-w-[300px]" />
                            <MudButton OnClick="SearchByNumberAsync" Class="self-start mt-2" Variant="Variant.Filled" Color="Color.Primary">Filtrar</MudButton>
                        </div>
                    </MudPaper>

                    <MudPaper Class="w-full mb-5 rounded-lg shadow-lg">
                        <div class="w-full p-5">
                            <h1 class="font-playpen mb-3 font-bold text-xl text-[#750303]">Filtrar Por Cliente</h1>
                            <MudAutocomplete T="CustomerDto"
                                             @bind-Value="_customerFilter"
                                             SearchFunc="SearchCustomers"
                                             ToStringFunc="@(c => c?.Name ?? "")"
                                             MinCharacters="2"
                                             ResetValueOnEmptyText="true"
                                             Clearable="true"
                                             Loading="@_isLoading"
                                             Variant="Variant.Outlined"
                                             Class="max-w-[300px]"
                                             Placeholder="Selecione o cliente" />
                            <MudButton OnClick="SearchByCustomerNameAsync" Class="self-start mt-2" Variant="Variant.Filled" Color="Color.Primary">Filtrar</MudButton>
                        </div>
                    </MudPaper>

                    <MudPaper Class="w-full mb-5 rounded-lg shadow-lg">
                        <div class="w-full p-5">
                            <h1 class="font-playpen mb-3 font-bold text-xl text-[#750303]">Filtrar Por N. Série</h1>
                            <MudTextField
                                @bind-Value="_serialNumberFilter"
                                Loading="@_isLoading"
                                ResetValueOnEmptyText="true"
                                Variant="Variant.Outlined"
                                Placeholder="Digite o número de série do produto"
                                Class="max-w-[300px]" />
                            <MudButton OnClick="SearchBySerialNumberAsync" Class="self-start mt-2" Variant="Variant.Filled" Color="Color.Primary">Filtrar</MudButton>
                        </div>
                    </MudPaper>
                    
                </div>
            </div>

            <!-- Coluna 2 -->
            <div class="flex w-full lg:w-[48%]">
                <div class="flex flex-col w-full p-5 items-start gap-3">
                    <!-- Filtro por modelo -->
                    <MudPaper Class="w-full mb-5 rounded-lg shadow-lg">
                        <div class="w-full p-5">
                            <h1 class="font-playpen mb-3 font-bold text-xl text-[#750303]">Filtrar Por Modelo</h1>
                            <MudTextField
                                @bind-Value="_modelFilter"
                                Loading="@_isLoading"
                                ResetValueOnEmptyText="true"
                                Variant="Variant.Outlined"
                                Placeholder="Digite o modelo do produto"
                                Class="max-w-[300px]" />
                            <MudButton OnClick="SearchByModelAsync" Class="self-start mt-2" Variant="Variant.Filled" Color="Color.Primary">Filtrar</MudButton>
                        </div>
                    </MudPaper>

                    <MudPaper Class="w-full mb-5 rounded-lg shadow-lg">
                        <div class="w-full p-5">
                            <h1 class="font-playpen mb-3 font-extrabold text-xl text-[#750303]">Filtrar Por Data</h1>
                            <MudDatePicker Label="Data inicial"
                                           @bind-Date="_startDateFilter"
                                           Class="max-w-[300px]"
                                           Variant="Variant.Outlined" />
                            <MudDatePicker Label="Data final"
                                           @bind-Date="_endDateFilter"
                                           Class="max-w-[300px] mt-2"
                                           Variant="Variant.Outlined" />
                            <MudButton OnClick="SearchByDateAsync" Class="self-start mt-2" Variant="Variant.Filled" Color="Color.Primary">Filtrar</MudButton>
                        </div>
                    </MudPaper>
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full lg:max-w-[50%] min-h-full">
        <div class="flex flex-col w-full items-center min-h-full">
            <div class="flex flex-col min-h-full w-full">
                <MudTable Class="min-h-full" HeaderClass="bg-[#BE0405]"
                          @bind-Items="FilteredServiceOrders"
                          RowsPerPage="10"
                          Hover="true"
                          Breakpoint="Breakpoint.Sm"
                          Bordered="true"
                          Striped="true">

                    <HeaderContent>
                        <MudTh>
                            <p class="text-white font-sans font-bold text-lg tracking-wide">Número da Ordem</p>
                        </MudTh>
                        <MudTh>
                            <p class="text-white font-sans font-bold text-lg tracking-wide">Cliente</p>
                        </MudTh>
                        <MudTh>
                            <p class="text-white font-sans font-bold text-lg tracking-wide">Data de entrada</p>
                        </MudTh>
                    </HeaderContent>

                    <RowTemplate>
                        <MudTd DataLabel="Número">
                            <MudButton Variant="Variant.Outlined"
                                       Color="Color.Primary"
                                       Class="font-semibold text-sm"
                                       EndIcon="@Icons.Material.Filled.DoubleArrow"
                                       OnClick="@(() => OnSelectOrder(context))">
                                @context.Id
                            </MudButton>
                        </MudTd>
                        <MudTd DataLabel="Cliente">
                            <p class="text-gray-800 font-semibold font-sans text-sm">@context.Name</p>
                        </MudTd>
                        <MudTd DataLabel="Data">
                            <p class="text-gray-700 font-sans font-semibold text-sm">@context.EntryDate.ToString("dd/MM/yyyy")</p>
                        </MudTd>
                    </RowTemplate>

                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </div>
        </div>
    </div>
</div>