@using TVS_App.Application.Commands.ServiceOrderCommands
@using TVS_App.Application.DTOs.ServiceOrder
@using TVS_App.Domain.Enums
@using TVSApp.Web.Extensions
@using TVSApp.Web.Handlers
<MudDialog>
    <TitleContent>
        <h2 Class="font-extrabold text-[#750303] font-sans text-xl md:text-center md:text-xl max-w-[300px] md:max-w-[100vw]">
            ADICIONAR ENTREGA - OS @ServiceOrder.Id
        </h2>
    </TitleContent>

    <DialogContent>
        <MudPaper Class="py-4 px-2" Elevation="0">
            <!-- EMPRESA -->
            <MudText Typo="Typo.h6" Color="Color.Tertiary" Class="font-extrabold uppercase mb-2">Empresa</MudText>
            <MudTextField Class="mb-10" Variant="Variant.Outlined" Label="Empresa" Value="@ServiceOrder.Enterprise.GetDisplayName()" ReadOnly="true" />

            <!-- DADOS DO CLIENTE -->
            <MudText Typo="Typo.h6" Color="Color.Tertiary" Class="font-extrabold uppercase mb-2">Dados do Cliente</MudText>
            <MudGrid Class="mb-10">
                <MudItem xs="12" md="6">
                    <MudTextField  Variant="Variant.Text" Label="Nome" ReadOnly="true" Value="@ServiceOrder.Name" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField  Variant="Variant.Text" Label="Telefone 1" ReadOnly="true" Value="@ServiceOrder.Phone" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField  Variant="Variant.Text" Label="Endereço" ReadOnly="true" Value="@ServiceOrder.FormattedAddress" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Text" Label="Telefone 2" ReadOnly="true" Value="@ServiceOrder.Phone2" />
                </MudItem>
            </MudGrid>

            <!-- DADOS DO PRODUTO -->
            <MudText Typo="Typo.h6" Color="Color.Tertiary" Class="font-extrabold uppercase mb-2">Dados do Produto</MudText>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Text" Label="Tipo" ReadOnly="true" Value="@ServiceOrder.Type.GetDisplayName()" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Text" Label="Marca" ReadOnly="true" Value="@ServiceOrder.Brand" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Text" Label="Modelo" ReadOnly="true" Value="@ServiceOrder.Model" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Text" Label="Série" ReadOnly="true" Value="@ServiceOrder.SerialNumber" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField  Variant="Variant.Text" Label="Defeito" ReadOnly="true" Value="@ServiceOrder.Defect" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField  Variant="Variant.Text" Label="Data de Entrada" ReadOnly="true" Value="@ServiceOrder.EntryDate.ToString("dd/MM/yyyy")" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Text" Label="Prateleira" ReadOnly="true" Value="@ServiceOrder.Location" />
                </MudItem>
            </MudGrid>
            <div class="mt-3 mb-10">
                <LocationButton ServiceOrder="ServiceOrder" OnLocationChanged="UpdateLocation" />
            </div>

            <!-- INFORMAÇÕES DO ORÇAMENTO -->
            <MudText Typo="Typo.h6" Color="Color.Primary" Class="font-extrabold uppercase mb-2">Informações do Orçamento</MudText>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Solução" ReadOnly="true" Value="@ServiceOrder.Solution" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Valor" ReadOnly="true" Value="@ServiceOrder.TotalAmount" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Conserto feito em" ReadOnly="true" Value="@ServiceOrder.RepairDate?.ToString("dd/MM/yyyy")" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Situação" ReadOnly="true" Value="@Situacao" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Tem Conserto?" ReadOnly="true" Value="@TemConserto" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Resposta do Cliente" ReadOnly="true" Value="@Resposta" />
                </MudItem>
            </MudGrid>

            <!-- BOTÃO DE ENTREGA -->
            <div class="py-6 flex justify-end">
                <DeliveryServiceOrderButton Command="Command" DialogInstance="MudDialog"/>
            </div>
        </MudPaper>
    </DialogContent>
</MudDialog>




@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public ServiceOrderDto ServiceOrder { get; set; } = null!;
    [Inject] public ServiceOrderHandler ServiceOrderHandler { get; set; } = null!;
    [Inject] public ISnackbar Snackbar { get; set; } = null!;

    private GetServiceOrderByIdCommand Command => new GetServiceOrderByIdCommand{ Id = ServiceOrder.Id };

    public string Situacao =>
        ServiceOrder.ServiceOrderStatus switch
        {
            EServiceOrderStatus.Entered => "Avaliação pendente",
            EServiceOrderStatus.Evaluated => "Avaliado",
            EServiceOrderStatus.OrderPart => "Aguardando peça",
            EServiceOrderStatus.Repaired => "Consertado",
            EServiceOrderStatus.Delivered => "Entregue",
            _ => "Desconhecido"
        };

    public string TemConserto =>
        ServiceOrder.RepairResult switch
        {
            ERepairResult.Repair => "Sim",
            ERepairResult.Unrepaired => "Não",
            ERepairResult.NoDefectFound => "Não apresentou defeito",
            _ => "Desconhecido"
        };

    public string Resposta =>
        ServiceOrder.RepairStatus switch
        {
            ERepairStatus.Entered => "Sem orçamento ainda",
            ERepairStatus.Waiting => "Aguardando resposta",
            ERepairStatus.Approved => "Aprovado",
            ERepairStatus.Disapproved => "Não aprovou",
            _ => "Desconhecido"
        };

    private async Task UpdateLocation()
    {
        var command = new GetServiceOrderByIdCommand { Id = ServiceOrder.Id };
        
        var result = await ServiceOrderHandler.GetServiceOrderById(command);
        if (result.IsSuccess)
        {
            if (result.Data != null)
            {
                ServiceOrder = ServiceOrder with { Location = result.Data.Location };
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("Ocorreu um erro ao obter a ordem de serviço", Severity.Error);
            }
        }
    }
}