@using TVS_App.Application.Commands.ServiceOrderCommands
@using TVS_App.Application.DTOs.ServiceOrder
@using TVS_App.Domain.Enums
@using TVSApp.Web.Extensions
@using TVSApp.Web.Handlers

<MudDialog>
    <TitleContent>
        <h2 Class="font-extrabold text-[#750303] font-sans text-xl md:text-center md:text-xl max-w-[300px] md:max-w-[100vw]">
            ADICIONAR RESPOSTA - OS @ServiceOrder.Id
        </h2>
    </TitleContent>

    <DialogContent>
        <MudPaper Class="py-4 px-2" Elevation="0">

            <!-- EMPRESA -->
            <MudPaper Class="mb-4 pb-4" Elevation="0">
                <MudText Typo="Typo.h6" Color="Color.Tertiary" Class="font-extrabold uppercase mb-2">Empresa</MudText>
                <MudTextField Variant="Variant.Outlined" ReadOnly="true" Value="@ServiceOrder.Enterprise.GetDisplayName()" Label="Empresa" FullWidth="true" />
            </MudPaper>

            <!-- DADOS DO CLIENTE -->
            <MudPaper Class="mb-4 pb-4" Elevation="0">
                <MudText Typo="Typo.h6" Color="Color.Tertiary" Class="font-extrabold uppercase mb-2">Dados do Cliente</MudText>
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Nome" Value="@ServiceOrder.Name" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Telefone 1" Value="@ServiceOrder.Phone" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Endereço" Value="@ServiceOrder.FormattedAddress" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Telefone 2" Value="@ServiceOrder.Phone2" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <!-- DADOS DO PRODUTO -->
            <MudPaper Class="mb-4 pb-4" Elevation="0">
                <MudText Typo="Typo.h6" Color="Color.Tertiary" Class="font-extrabold uppercase mb-2">Dados do Produto</MudText>
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Tipo" Value="@ServiceOrder.Type.GetDisplayName()" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Marca" Value="@ServiceOrder.Brand" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Modelo" Value="@ServiceOrder.Model" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Série" Value="@ServiceOrder.SerialNumber" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Defeito" Value="@ServiceOrder.Defect" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Data de Entrada" Value="@ServiceOrder.EntryDate.ToString("dd/MM/yyyy")" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Text" Label="Prateleira" Value="@ServiceOrder.Location" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12">
                        <LocationButton ServiceOrder="ServiceOrder" OnLocationChanged="AtualizarPrateleira" />
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <!-- INFORMAÇÕES DO ORÇAMENTO -->
            <MudPaper Class="mb-4 pb-4" Elevation="0">
                <MudText Typo="Typo.h6" Color="Color.Primary" Class="font-extrabold uppercase mb-2">Informações do Orçamento</MudText>
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Outlined" Label="Solução" Value="@ServiceOrder.Solution" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Outlined" Label="Valor" Value="@ServiceOrder.TotalAmount" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Outlined" Label="Orçamento feito em" Value="@ServiceOrder.InspectionDate?.ToString("dd/MM/yyyy")" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Outlined" Label="Situação" Value="@Situacao" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Outlined" Label="Tem conserto?" Value="@TemConserto" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Variant="Variant.Outlined" Label="Resposta do Cliente" Value="@Resposta" ReadOnly="true" FullWidth="true" />
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <!-- BOTÕES -->
            <MudGrid Class="mb-4" Justify="Justify.FlexEnd" GutterSize="GutterSize.Small">
                @if (_isProcessing)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
                }
                else
                {
                    <MudItem>
                        <MudButton Size="Size.Large" OnClick="Aprovado" Disabled="_isProcessing" Variant="Variant.Filled" Color="Color.Success">
                            Aprovado
                        </MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton Size="Size.Large" OnClick="Reprovado" Disabled="_isProcessing" Variant="Variant.Filled" Color="Color.Primary">
                            Reprovado
                        </MudButton>
                    </MudItem>
                }
            </MudGrid>

        </MudPaper>
    </DialogContent>
</MudDialog>

@code {
    private bool _isProcessing;
    
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public ServiceOrderDto ServiceOrder { get; set; } = null!;
    [Inject] public ServiceOrderHandler ServiceOrderHandler { get; set; } = null!;
    [Inject] public ISnackbar Snackbar { get; set; } = null!;

    public async Task Aprovado()
    {
        _isProcessing = true;
        try
        {
            var result = await ServiceOrderHandler.AddServiceOrderApproveEstimate(new GetServiceOrderByIdCommand { Id = ServiceOrder.Id });
            if (result.IsSuccess)
            {
                MudDialog.Close(DialogResult.Ok(true));
                Snackbar.Add("Resposta adicionada com sucesso!", Severity.Success);
            }
            else
                Snackbar.Add(result.Message ?? "Ocorreu um erro ao adicionar uma resposta na OS", Severity.Error);

        }
        catch (Exception e)
        {
            Snackbar.Add(e.Message, Severity.Error);
        }
        finally
        {
            _isProcessing = false;
        }
    }

    public async Task Reprovado()
    {
        try
        {
            _isProcessing = true;
            var result = await ServiceOrderHandler.AddServiceOrderRejectEstimate(new GetServiceOrderByIdCommand { Id = ServiceOrder.Id });
            if (result.IsSuccess)
            {
                Snackbar.Add("Resposta adicionada com sucesso!", Severity.Success);
                MudDialog.Close(DialogResult.Ok(true));
            }
            else
                Snackbar.Add(result.Message ?? "Ocorreu um erro ao adicionar uma resposta na OS", Severity.Error);
        }
        catch (Exception e)
        {
            Snackbar.Add(e.Message, Severity.Error);
        }
        finally
        {
            _isProcessing = false;
        }
    }

    public string Situacao =>
        ServiceOrder.ServiceOrderStatus switch
        {
            EServiceOrderStatus.Entered => "Avaliação pendente",
            EServiceOrderStatus.Evaluated => "Avaliado",
            EServiceOrderStatus.OrderPart => "Aguardando peça",
            EServiceOrderStatus.Repaired => "Consertado",
            EServiceOrderStatus.Delivered => "Entregue",
            _ => "Desconhecido"
        };

    public string TemConserto =>
        ServiceOrder.RepairResult switch
        {
            ERepairResult.Repair => "Sim",
            ERepairResult.Unrepaired => "Não",
            ERepairResult.NoDefectFound => "Não apresentou defeito",
            _ => "Desconhecido"
        };

    public string Resposta =>
        ServiceOrder.RepairStatus switch
        {
            ERepairStatus.Entered => "Sem orçamento ainda",
            ERepairStatus.Waiting => "Aguardando resposta",
            ERepairStatus.Approved => "Aprovado",
            ERepairStatus.Disapproved => "Não aprovou",
            _ => "Desconhecido"
        };

    private async Task AtualizarPrateleira()
    {
        var result = await ServiceOrderHandler.GetServiceOrderById(new GetServiceOrderByIdCommand { Id = ServiceOrder.Id });
        if (result.IsSuccess)
        {
            if (result.Data != null)
            {
                ServiceOrder = ServiceOrder with { Location = result.Data.Location };
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("Ocorreu um erro ao obter a ordem de serviço", Severity.Error);
            }
        }
    }
}