@page "/entrar"
@layout AuthLayout

@if (PageIsBusy)
{
    <MudProgressCircular Size="Size.Large" Class="align-self-center" Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="flex min-h-[100vh] w-full bg-[#F5F7FC] items-center justify-center">
        <section class="flex flex-col min-h-[100vh] sm:min-h-[70vh] w-full sm:w-[20%] min-w-[400px] gap-4 justify-center p-4 sm:rounded-xl shadow-lg items-center text-center bg-white " style="z-index: 1;">
            <h1 class="font-serif text-5xl font-bold text-titlecolor pb-5 pt-5">Entrar</h1>
            <EditForm Model="Request" OnValidSubmit="LoginAsync" Style="width: 80%; align-self: center; justify-self: center; justify-items: center;">
                <DataAnnotationsValidator/>

                <MudTextField
                    T="string"
                    Label="E-mail"
                    FullWidth="true"
                    HelperText="Campo obrigatório"
                    Variant="Variant.Text"
                    InputType="InputType.Email"
                    For="@(() => Request.Email)"
                    @bind-Value="Request.Email"
                    Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Email"
                    AdornmentColor="Color.Primary"
                    Margin="Margin.Dense"/>

                <MudTextField
                    T="string"
                    Label="Senha"
                    FullWidth="true"
                    HelperText="Campo obrigatório"
                    Variant="Variant.Text"
                    InputType="InputType.Password"
                    For="@(() => Request.Password)"
                    @bind-Value="Request.Password"
                    Adornment="Adornment.End"
                    AdornmentColor="Color.Primary"
                    AdornmentIcon="@Icons.Material.Filled.Lock"
                    Margin="Margin.Dense"/>

                <div class="flex mt-15 mb-17">
                    @if (LoginIsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Class="align-self-center" Indeterminate="true"/>
                    }
                    else
                    {
                        <MudButton
                            ButtonType="ButtonType.Submit"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            FullWidth="true"
                            StartIcon="@Icons.Material.Outlined.Login"
                            IconColor="Color.Secondary"
                            Size="Size.Large"
                            Style="width: 250px;"><span style="color: white;">Entrar</span></MudButton>
                    }
                </div>
            </EditForm>
        </section>
    </div>

}